.episodes {
   padding-right: 100rem;
    padding-bottom: 128px;


}

.episodes_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
   
   
}
.episodes_top{
    display: flex;
    justify-content: space-between;
    
}

.episodes_top .episodes-top_container_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}

.episodes_top .episodes-top_container_left .episodes-h2 {
    color: var(--Black, #14142B);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.episodes_top .episodes-top_container_left p {
    width: 371px;
    height: 54px;
    flex-shrink: 0;
    color: var(--Black, #14142B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */

}

.episodes_container-top_right .episodes_btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    background-color: #503AE7;
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}
.episodes_container-bottom .episodes_container_items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
   flex-wrap: wrap;

 
   
}