.aboutsponsors {
    padding: 128px 80px;
    padding-bottom: 128px;
}

.aboutsponsors_container {
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: start;
    justify-content: start;
}

.aboutsponsors_container .sponsors_title {
    color: var(--Black, #14142B);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    /* 129.167% */
}

.sponsors_logos_a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.6rem;
}

.sponsors_logos_a .sponsor_logo {
    width: 321px;
    height: 224px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
}