.aboutsponsors {
    padding: 128px 80px;
    padding-bottom: 128px;
}

.aboutsponsors_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: start;
    justify-content: start;
}

.aboutsponsors_container .sponsors_title {
    color: var(--Black, #14142B);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    /* 129.167% */
}

.sponsors_logos_a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.6rem;
}

.sponsors_logos_a .sponsor_logo {
    width: 321px;
    height: 224px;
    background: var(--Off-white, #F4F2FF);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
    flex-direction: column;
    gap: 5rem;
}

.sponsor_logo1 {
    width: 321px;
    height: 224px;
    background: var(--Off-white, #F4F2FF);
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
    flex-direction: column;
    gap: 5rem;
    background: var(--Blue, #503AE7);
    padding-top: 3.2rem;
    padding-left: 3.2rem;
}

.sponsor_logo_title {
    color: var(--Off-white, #F4F2FF);
    width: 200px;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.contact_about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_about .sponsor_text {
    color: var(--Off-white, #F4F2FF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}
.sponsors_logos_a .sponsor_logo1:hover {
    box-shadow: 0 2px 2px 4px rgba(65, 100, 194, 0.3);
}
.contact_about .sponsor_text:hover {
   color: orange;
}