.containerBrands{
    width: 1280px;
    height: 37px;
    display: flex;
    justify-content: space-around;
   align-items: center;
    background-color: red;
    position: relative;
    left: 50px;
}
.Image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}