header{
    width: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
 }

.nav-social-cont {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-social-cont nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-social-cont nav a {
    color: var(--Black, #14142B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.nav-social-cont nav a:hover {
    color: red;
}

.nav-social-cont .nav-soicals {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: red;
}

.nav-social-cont .nav-soicals a {
    color: #14142B;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.nav-social-cont .nav-soicals a:hover{
    color: red;
}