.footer {
    margin-top: -9rem;
    position: relative;
    z-index: -2;
}
.footer_container{
    background: red;
}
.footer_container_item{
    
}
.footer_pages{
    display: flex;
    flex-direction: column;
    /* background: yellow; */
    color: white;
    
}
.footer_container {
    width: 100%;
    min-height: 57.4rem;
    background-color: 
    #14142B;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
.footer_title_pages .footer_pages {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
