.footer {
    margin-top: -9rem;
    position: relative;
    z-index: -2;
}

.footer_container_item{
    padding-top: 200px;
}
.footer_pages{
    display: flex;
    flex-direction: column;
    /* background: yellow; */
    color: white;
    
}
.footer_container {
    width: 100%;
    min-height: 638px;
    background-color:  #14142B;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10rem;

}
.footer_container_item {
    display: flex;
    gap: 20rem;
   
}
.footer_title_pages .footer_pages {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    cursor: pointer;
}
.footer_title_pages .footer_title .footer_h4 {
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    padding-bottom: 1rem;

}
.footer_title_pages .footer_pages  a {
 color: var(--White, #FFF);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-decoration: none;
cursor: pointer;

}

.footer_title_pages .footer_pages  a:hover{
    color: red;
}
.footer_title_pages .footer_pages img {
    max-width: 18.2746rem;
    height: 3.2rem;
}
