.footer_container{
    background: red;
}
.footer_pages{
    display: flex;
    flex-direction: column;
    
}
.footer_container {
    width: 100%;
    min-height: 57.4rem;
    background-color: red;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27rem;
}
.footer_title_pages .footer_pages {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.footer_container-item {
    display: flex;
    /* align-items: center; */
    gap: 20rem;
}