.Podcast {
  width: 100%;
 
  padding-left: 80px;
  padding-right: 80px;
}

.pod_containerPodcasts {
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.pod_leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.pod_leftContainer .pod_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pod_leftContainer .pod_content .pod-h2 {
  max-width: 414px;
  color: var(--Black, #14142B);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.pod_leftContainer .pod_content p {
  max-width: 411px;
  color: var(--Black, #14142B);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.pod_leftContainer .pod_line-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pod_rightContainer {
  width: 32rem;
  padding: 3rem 0;
  background: #503ae7;
  position: relative;

}

.pod_speaaking_images {
  position: relative;
}

.pod_speakingMan {
  width: 300px;
  position: relative;
  left: 6rem;
  top: 5px;
}

.pod_speakingWoman {
  position: absolute;
  bottom: 5rem;
  left: 10%;
  z-index: 3;
}

.pod_speakingLines {
  position: absolute;
  bottom: 6rem;
  right: 3rem;
  z-index: 2;
}

.pod_speakingSingleLine {
  position: absolute;
  top: 4rem;
  left: 5rem;
  z-index: 2;
}